
body {
	font-family: 'Montserrat Alternates', sans-serif;
}

header {
	background-color: rgb(56, 0, 176, 0.30);
	padding: 15px 250px;
	position: fixed;
	width:100%;
	margin: auto;
	text-align: center;
}

.caixa {
	opacity: 0;
	animation: appear 0.2s forwards;
  }
  
  @keyframes appear {
	0% {
	  transform: translateY(-50px);
	  opacity: 0;
	}
  
	100% {
	  opacity: 1;
	}
  }

nav {
	top: 20px;
	right: 0px;
	width: 940px;
}

nav li {
	display: inline;
	margin: 0 0 0 40px;
}

nav a {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	
}

nav a:hover {
	color: #C78C19;
}

.perfil {
	background: rgb(56, 0, 176, 0.74);
	padding: 80px;
}

h1 {
	width: 500px;
	margin: 0;
	font-size:55px;
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 150px;
	padding-bottom: 20px;
}

h2 {
	color: #FFFFFF;
	font-size:15px;
	padding-left: 150px;

}

.contato {
	width: 700px;
	float: left;
	font-size:20px;
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 150px;
	padding-bottom: 20px;
}

.icones {
	padding-left: 945px;
}



